* {
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:100%;
}

body{
	background-color: #344c7c;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

a{
	text-decoration: none;
}

.outer_form{
	position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	column-gap: 30px;
}

.outer_form h1{
	text-align:center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color:#f2e7d0;
}

.inner_form{

}

.center_form{
	width: 300px;
	height: auto;

	background-color: #f2e7d0;
	border-radius: 10px;
	border: 2px solid #8e8a6b;
}

.center_form label{
	margin: 20px 20px;
}

.center_form input{
	display:block;
	position: relative;
	width: 90%;
	height: 25px;
	border-radius: 5px;
	border: 1px solid #c4c09f;
	margin: 30px auto;
	text-align:center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color:#8e8a6b;
}

.center_form button{
	display:block;
	position: relative;
	width: auto;
	padding: 10px;
	height: 35px;
	border-radius: 5px;
	border: 2px solid #647a48;
	margin: 30px auto;
	background-color: #81a061;
	color:#52603e;
	font-weight: bold;
}

.center_form button:hover{
	background-color: #92ad73;
	color: #60704a;
	border: 2px solid #788c5a;
}

.button_observation{
	background-color: #81a061;
	color: #60704a;
	border: 2px solid #788c5a;
	padding: 20px;
}

.inner_form.link:hover h1{
	color:#f4f2d9;
}

.inner_form:hover .button_observation{
	background-color: #92ad73;
	color: #60704a;
	border: 2px solid #788c5a;
}

.button_creation{
	background-color: #ad5342;
	color: #703634;
	border: 2px solid #703634;
	padding: 20px;
}

.inner_form:hover .button_creation{
	background-color: #bc604f;
	color: #703634;
	border: 2px solid #703634;
}