* {
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:100%;
}

body{
	background-color: #344c7c;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

a{
	text-decoration: none;
}

h1{
	text-align:center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color:#f2e7d0;
}

.outer_form{
	position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 90%;
	padding:0 20px 20px 20px;
	box-sizing: border-box;
}

.center_flex{
	display: flex;
	align-items: center;
	justify-content: space-around;
	column-gap: 30px;
	margin: auto;
}

.center_flex.form_bottom{
	margin: 10px auto;
}


.center_flex.form_bottom:before{
	content:"";
	display:block;
	width:100%;
	background-color: #8e8a6b;
	height: 2px;
	border-radius: 1px;
}

.display_evenly{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 30px;
}

.flex_reverse{
	flex-direction: row-reverse;
}

.center_form{
	min-width: 250px;
	width: 300px;
	max-width: 400px;
	height: auto;
	margin-left: 10px;
	padding:10px;

	background-color: #f2e7d1;
	border-radius: 15px;
	border: 4px solid #8e7f6b;
	box-sizing: border-box;

	position: relative;
	overflow:auto;
}

.outer_form > :first-child .center_form{
	margin-left: 0px;
}


.center_form .boxInput, .center_form select{
	display:block;
	position: relative;
	width: 100%;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #e5e4d3;
	margin: 10px auto;
	text-align:center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 15px;
	color:#8e7f6b;
}

.center_form .boxInput::placeholder{
	font-size: 15px;
	color:#bdb7ad;
}

.center_form button{
	display:block;
	position: relative;
	width: auto;
	padding: 10px;
	height: 35px;
	border-radius: 5px;
	border: 2px solid #647a48;
	margin: 30px auto;
	background-color: #81a061;
	color:#52603e;
	font-weight: bold;
	cursor: pointer;
}

.center_form button:hover{
	background-color: #92ad73;
	color: #60704a;
	border: 2px solid #788c5a;
}

/***************************************************************** Crossroad ********************************************************************/
a > .inner_form:hover h1{
	color:#f4f2d9;
}

.button_observation{
	background-color: #81a061;
	color: #60704a;
	border: 2px solid #788c5a;
	padding: 20px;
}

.inner_form:hover .button_observation{
	background-color: #92ad73;
	color: #60704a;
	border: 2px solid #788c5a;
}

.button_creation{
	background-color: #ad5342;
	color: #703634;
	border: 2px solid #703634;
	padding: 20px;
}

.inner_form:hover .button_creation{
	background-color: #bc604f;
	color: #703634;
	border: 2px solid #703634;
}

/************************************************* Dashboard ***********************************************************/
.header_bar{
	height: 70px;
	width:100%;
	padding:10px 20px;
	box-sizing: border-box;
}

.header_bar .header_title{
	display: flex;
	float:left;
	justify-content: space-between;
	/* margin-left:10px; */
}

.header_bar .header_menu{
	float:right;
	display: flex;
	justify-content: space-between;
}

.button_small{
	width:30px;
	height:20px;
	box-sizing: border-box;
	background-color: #81a061;
	color: #60704a;
	border: 4px solid #788c5a;
	padding: 5px;
	border-radius: 10px;
	margin:5px;
	cursor: pointer;
}

.button_square{
	width:50px;
	height:50px;
	box-sizing: border-box;
	background-color: #81a061;
	color: #60704a;
	border: 4px solid #788c5a;
	padding: 5px;
	border-radius: 10px;
	margin-left:5px;
	cursor: pointer;
}

.button_square.save{
	background-color: #dea34e;
	color: #a56a2d;
	border-color: #a56a2d;
}

.button_square.save:hover{
	background-color: #e8ad58;
	color: #b27433;
	border-color: #b27433;
}

.button_square.delete{
	background-color: #6d6a6b;
	color: #3f3738;
	border-color: #3f3738;
}

.button_square.delete:hover{
	background-color: #757172;
	color: #474040;
	border-color: #474040;
}

.button_square.close{
	background-color: #ae5342;
	color: #703635;
	border-color: #703635;
}

.button_square.close:hover{
	background-color: #bc604f;
	color: #703634;
	border-color: #703634;
}

.full_height{
	height:100%;
}

.full_width{
	width:100%;
}

.half_width{
	min-width: 150px;
	width:200px;
	max-width: 250px;
}

.display_flex{
	display: flex;
}

.center_form h2{
	color: #8e8a6b;
}

.center_form h2:after{
	content:"";
	display:block;
	width:100%;
	background-color: #8e8a6b;
	height: 4px;
	border-radius: 2px;
}

.center_form h3:not(.first):before{
	content:"";
	display:block;
	width:100%;
	background-color: #8e8a6b;
	height: 4px;
	border-radius: 2px;
}

.center_form h3{
	color: #82a061;
	font-size: 22px;
	margin-left:0px;
}

.center_form h4{
	color: #82a061;
	font-size: 20px;
	margin-left:15px;
}

.center_form h4:not(.first):before{
	content: "";
	display:block;
	width:100%;
	background-color: #8e8a6b;
	height: 4px;
	border-radius: 2px;
	margin-top: 10px;
}

.center_form .form_line{
	margin-left:20px;
	font-size: 20px;
	display: flex;
	color: #8e8a6b;
}

.center_form .add_button{
	color: #82a061;
	margin-top:0px;
	font-size: 60px;
	/* line-height: 30px; */
	text-align: center;
	width:100%;
	display: inline-block;
	cursor: pointer;
}

.center_form .add_button::before,
.center_form .add_button::after {
    display: inline-block;
	content: "";

    width: 30%;
	margin: 0 0px;

	background-color: #82a061;
	height: 4px;
	border-radius: 2px;
    transform: translateY(-1rem);
}

.center_form .add_button:hover{
	color: #95ac75;
}

.center_form .add_button:hover::before,
.center_form .add_button:hover::after{
	background-color: #95ac75;
}

.center_form .lineInput{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #8e8a6b;
	text-align: center;
	color: #354d7d;
	font-weight: bold;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 15px;
}

.center_form .lineInput::placeholder{
	color: #c4bfae;
}

.titleInput{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #8e8a6b;
	text-align: center;
	color: #f2e7d1;
	font-weight: bold;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 35px;
}

.titleInput::placeholder{
	font-size: 35px;
	color: #cfc6b3;
}

.center_form .titleInput{
	color: #8e8a6b;
	font-size: 25px;
}

.center_form .titleInput::placeholder{
	font-size: 25px;
	color: #c4bfae;
}

.modal .titleInput{
	font-size: 25px;
	color: #8e8a6b;
}

.modal .titleInput::placeholder{
	font-size: 25px;
	color: #cfc6b3;
}

.modal-header .titleInput{
	color: #f2e7d1;
}

.center_form .config_header{
	display:flex;
	justify-content: space-around;
	margin: 10px 0;
}

.list{
	display: flex;
	flex-direction: column;
}

.list a{
	color: #8e8a6b;
	font-size: 25px;
	margin: 0 auto;
	cursor: pointer;
}

.list a:hover{
	color: #a79981;
}

.sublist a{
	font-size: 20px;
	margin-left: 25px;
}

/* Input File */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 15px;
    font-weight: 700;
	display: inline-block;
	margin:5px 5px;
	padding: 0 10px;
	background-color: hsl(90, 25%, 50%);
	color: #60704a;
	border-radius: 20px;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #92ad73;
	color: #60704a;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.no-js .inputfile + label {
    display: none;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
	width: 10px;
	right:10px;
padding-right:10px;
margin-right:10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #c4bfae;
border-radius:5px;
margin: 5px;
right:10px;
padding-right:10px;
margin-right:10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ada895;
border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #999482;
}

/* Dialog box */

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;

min-width: 250px;
max-width: 400px;
height: auto;

background-color: #f2e7d1;
border-radius: 15px;
border: 4px solid #8e7f6b;
box-sizing: border-box;

}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
#closeBtn {
color: #f2e7d1;
float: right;
font-size: 28px;
font-weight: bold;
}

#closeBtn:hover,
#closeBtn:focus {
color: #f2e7d1;
text-decoration: none;
cursor: pointer;
}

.modal-body{
padding: 10px;
}
.modal-header {
background-color: #8e7f6b;
padding: 10px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
margin: 10px;
padding: 2px 16px;
}

/************************************************* Editor ***********************************************************/
.long_form{
	max-width:100%;
	height: auto;
	margin-left: 10px;
	padding:10px;

	background-color: #f2e7d1;
	border-radius: 15px;
	border: 4px solid #8e7f6b;
	box-sizing: border-box;

	position: relative;
	overflow:auto;
}

.long_form h3{
	  font-size: 20px;
	  text-align: center;
}

.center_form h5{
	color: #82a061;
	font-size: 15px;
}

.center_form h5:not(.first):before{
	content: "";
	display:block;
	width:100%;
	background-color: #8e8a6b;
	height: 3px;
	border-radius: 1.5px;
	margin-top: 10px;
}

#listPieces button{
	width: 100%;
	border: none;
	height: 25px;
	border-radius: 10px;
	padding: 5px;
	margin: 5px auto;
}

#editorWindow{
	display: flex;
	width: 100%;
	height: 90%;

}

#editorWindow #editorAction{
	width: 40px;
}

#editorWindow #editorAction .button_square{
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
	border: 3px solid #bfbfbf;
	background-color: #d1d1d1;
	pointer-events: none;
}

#editorWindow #editorAction .button_square.active{
	border: 3px solid #4166a0;
	background-color: #7299d8;
	pointer-events: all;
}

#editorWindow #editorAction .button_square.active:hover{
	background-color: #7ea5e5;
	border-color: #4c74b2;
}

#editorWindow #editorAction .button_square.delete{
	background-color: #6d6a6b;
	color: #3f3738;
	border-color: #3f3738;
}

#editorWindow #editorAction .button_square.delete:hover{
	background-color: #757172;
	color: #474040;
	border-color: #474040;
}

#editorWindow #editorAction .button_square.move{
	background-color: #81a061;
	color: #647a48;
	border-color: #647a48;
}

#editorWindow #editorAction .button_square.move:hover{
	background-color: #92ad73;
	color: #788c5a;
	border-color: #788c5a;
}

/* creation */

#creationSpace{
	flex-grow: 1;
	margin-left:10px;
	position: relative;
	padding: 0px 20px;

}

.newPiece{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	background-color: lightgrey;
	border-radius: 5px;
	padding:5px;
	margin:5px;
	white-space:nowrap;
	text-align: center;
	justify-content: center;
	box-sizing: border-box;
}

.newPiece h3{
	font-size: 16px;
	margin:5px;
	vertical-align: middle;
	text-align: center;
}

.newPiece h3::before{
	content:"";
}

.newPiece p{
	font-size: 16px;
	padding:5px;
	margin:2px;
	text-align: center;
}

.newPiece select{
	margin:5px;
	max-height:24px;
	text-align-last:center;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
}

.newPiece select option{
	text-align: center;
}

.newPiece input{
	margin:2px;
	max-height:24px;
	text-align-last:center;
	box-sizing: border-box;
	max-width:120px;
	font-size: 16px;
	font-weight: bold;
}

.newPiece .capsule{
	position: relative;
	box-sizing: border-box;
	background-color: white;
	border-radius: 5px;
	padding:2px;
	font-size:12px;
	margin:5px;
	box-sizing: border-box;
}

.newPiece .capsule p{
	font-size: 12px;
	color: grey;
	padding:0;
}

.hint{
	display: inline;
}

.anchor{
	display:none;
}


/************************************************* Observation ***********************************************************/
.long_container{
	max-width:100%;
	height: auto;
	margin-left: 10px;
	padding:10px;

	position: relative;
	overflow: hidden;;

}

.long_container h3{
	  font-size: 20px;
	  text-align: center;
}
